<section class="player">
    <div class="container">
        <div class="left">
            <img id="songImg" class="song-img">
                <div id="songInfo" class="song-info">
                    <p id="viewSongInPlayer" class="song-name link"></p>
                    <p id="viewArtistInPlayer" class="artist-name link"></p>
                </div>
        </div>
        <div class="middle">
            <div class="upper-middle">
                <img id="prev" class="prev-btn" src="/images/previous.png">
                <img id="play" class="play-btn" src="/images/play-2.png">
                <img id="next" class="next-btn" src="/images/next.png">
            </div>
            <div class="lower-middle">
                <input type="range" min="0" max="100" value="0" id="durationSlider">
            </div>
        </div>
        <div class="right">
            <img id="volumeIcon" class="sound-icon" src="/images/sound.png">
            <input type="range" min="0" max="100" value="40" id="volume">
        </div>
    </div>
</section>