<div class="navbar">
    <div class="container">
        <img id="mobile-cta" class="mobile-menu" src="/images/menu.svg" alt="Open menu"/>
        <a href="/" class="logo">cAtchy</a>
        <nav>
            <img id="mobile-exit" class="mobile-menu-exit" src="/images/exit.svg" alt="Close menu"/>
            <div class="wrapper-nav">
                <ul class="primary-nav">
                    <li id='navHome'><p class="link">Home</p></li>
                </ul>
                <ul class="secondary-nav">
                    <li id='navLogin'><a href='/login'>Login</a></li>
                    <li id='navRegister'><a href='/register'>Register</a></li>         
                </ul>
            </div>
        </nav>
    </div>
</div>
<% if(error && error.length > 0) { %>
    <div class="alert" id="alert"
            style="position: fixed; z-index: 999; height: 3rem; padding-left: 0.5rem; padding-right: 0.5rem; border-radius: 0.5rem; top: 10px; right: 10px; align-items: center; background-color: red;">
        <p style="text-align: center; color: white;"><%= error %></p>
    </div>
<% } %>
<% if(success && success.length > 0) { %>
    <div class="alert" id="alert"
            style="position: fixed; z-index: 999; height: 3rem; padding-left: 0.5rem; padding-right: 0.5rem; border-radius: 0.5rem; top: 10px; right: 10px; align-items: center; background-color: green;">
        <p style="text-align: center; color: white;"><%= success %></p>
    </div>
<% } %>
<script>
    setTimeout(function() {
        var bar = document.querySelector("#alert");
        bar.style.opacity = "0";
    }, 5000);
</script>