<div class="welcome-navbar">
    <div class="container">
        <nav>
            <li><a href="/" class="logo">cAtchy</a></li>
            <li id='navLogin'><a href='/login'>Login</a></li>
            <li id='navRegister'><a href='/register'>Register</a></li> 
        </nav>
    </div>
</div>
<% if(error && error.length > 0) { %>
    <div class="alert" id="alert"
            style="position: fixed; z-index: 999; height: 3rem; padding-left: 0.5rem; padding-right: 0.5rem; border-radius: 0.5rem; top: 10px; right: 10px; align-items: center; background-color: red;">
        <p style="text-align: center; color: white;"><%= error %></p>
    </div>
<% } %>
<% if(success && success.length > 0) { %>
    <div class="alert" id="alert"
            style="position: fixed; z-index: 999; height: 3rem; padding-left: 0.5rem; padding-right: 0.5rem; border-radius: 0.5rem; top: 10px; right: 10px; align-items: center; background-color: green;">
        <p style="text-align: center; color: white;"><%= success %></p>
    </div>
<% } %>
<script>
    setTimeout(function() {
        var bar = document.querySelector("#alert");
        bar.style.opacity = "0";
    }, 5000);
</script>