<%- include('partials/header.ejs') %>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/nav.css">
<script type="module" defer src="/javascript/home.js"></script>
<script type="module" defer src="/javascript/nav.js"></script>
</head>
<body>

<%- include('partials/nav.ejs') %>  

<section class="hero">
    <div class="container">
        <div class="hero-col">
            <h1>Enjoy<br>your<br>favourite<br>music.</h1>
        </div>
        <div class="hero-btn-small">
            <a href="/register" class="new-acc-btn">Make an account</a>
        </div>
        <div class="song-card">
            <ul>
                <li>
                    <img class="song-img" src="/images/song-blinding-lights-img.jpg" alt="Song img"/>
                    <h3>Blinding Lights</h3>
                    <h4>The weekend</h4>
                </li>
                <li>
                    <img class="song-img" src="/images/song-ite-img.jpg" alt="Song img"/>
                    <h3>Itte</h3>
                    <h4>Yorushika</h4>
                </li>
                <li>
                    <img class="song-img" src="/images/song-tunak-img.jpg" alt="Song img"/>
                    <h3>Tunak Tunak Tun</h3>
                    <h4>Daler Mehndi</h4>
                </li>
                <li>
                    <img class="song-img" src="/images/song-shelter-img.png" alt="Song img"/>
                    <h3>Shelter</h3>
                    <h4>Porter Robinson</h4>
                </li>
            </ul>
        </div>
    </div>
    <div class="hero-btn-large">
        <a href="/register" class="new-acc-btn">Make an account</a>
    </div>
</section>

<%- include('partials/footer.ejs') %>