<script type="module" defer src="/javascript/editAlbum.js"></script>
<section class="editAlbum">
    <div class="container">
        <form action='/album/<%= album._id %>?_method=PUT' method='POST' enctype="multipart/form-data">
            <div>
                <label>Album name</label>
                <input type='text' name='album[albumName]' placeholder='<%= album.albumName %>' value='<%= album.albumName %>'>
            </div>
            <div>
                <label>Image</label>
                <img src='<%= album.albumImg %>' width = "300px">
                <input type='file' name='albumImg' accept="image/*">
            </div>
            <div id="songList" class="song-list"></div>
            <button type="submit">Submit</button>
        </form>        
    </div>
</section>