<script type="module" defer src="/javascript/newAlbum.js"></script>
<section class="newAlbum">
    <div class="container">
        <form action='/album' method='POST' enctype="multipart/form-data">
            <div>
                <label>Album name</label>
                <input type='text' name='album[albumName]' placeholder='Enter album name'>
            </div>
            <div>
                <label>Image</label>
                <input type='file' name='albumImg' accept="image/*">
            </div>
            <div id="searchInput" class="search-input">
                <label>Artist</label>
                <input type='text' name='album[artistName]' placeholder='Enter artist name'>
                <div id="autocomBox" class="autocom-box"></div>
            </div>
            <button type="button" id='querySong'>Query</button>
            <div id="songList" class="song-list">
            </div>
            <button type="submit">Submit</button>
        </form>        
    </div>
</section>