<%- include('../partials/header.ejs') %>

<form action='/collection' method='POST'>
    <div>
        <label>Character name</label>
        <input type='text' name='name' placeholder='Enter character name'>
    </div>
    <div>
        <label>Character image</label>
        <input type='text' name='image' placeholder='Enter character image url'>
    </div>
    <div>
        <label>Character description</label>
        <input type='text' name='desc' placeholder='Enter character description'>
    </div>
    <button type="submit">Submit</button>
    <a href='/collection'>Go back</a>
</form>

<%- include('../partials/footer.ejs') %>