<%- include('../partials/header.ejs') %>

<!-- <link rel="stylesheet" href="/css/newCollection.css"> -->
<link rel="stylesheet" href="/css/nav.css">
<script type="module" defer src="/javascript/index.js"></script>
<script type="module" defer src="/javascript/nav.js"></script>
</head>
<body>

<%- include('../partials/nav.ejs') %>  

<form action='/collection' method='POST' enctype="multipart/form-data">
    <div>
        <label>Song name</label>
        <input type='text' name='collection[songName]' placeholder='Enter character name'>
    </div>
    <div>
        <label>Image</label>
        <input type='file' name='image' accept="image/*">
    </div>
    <div>
        <label>Lyric</label>
        <input type='text' name='collection[lyric]' placeholder='Enter character description'>
    </div>
    <div>
        <label>Artist</label>
        <input type='text' name='artist[artistName]' placeholder='Enter character description'>
    </div>
    <button type="submit">Submit</button>
    <a href='/collection'>Go back</a>
</form>

<%- include('../partials/footer.ejs') %>