<section class="newSong">
    <div class="container">
        <form action='/song' method='POST' enctype="multipart/form-data">
            <div>
                <label>Song name</label>
                <input type='text' name='song[songName]' placeholder='Enter character name'>
            </div>
            <div>
                <label>Image</label>
                <input type='file' name='songImg' accept="image/*">
            </div>
            <div>
                <label>Lyric</label>
                <input type='text' name='song[lyric]' placeholder='Enter character description'>
            </div>
            <div>
                <label>Artist</label>
                <input type='text' name='artist[artistName]' placeholder='Enter character description'>
            </div>
            <div>
                <label>Song</label>
                <input type='file' name='songFile' accept="audio/*">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

