<script type="module" defer src="/javascript/search.js"></script>
<section class="search">
    <div class="container">
        <section id="inputField" class="">
            <input type='text' name='query' placeholder='Search'>
            <button id='searchBtn'>Search</button>
        </section>
        <section id="outputField" class="">
            <div id="song" class="song">

            </div>
            <div id="artist" class="artist">

            </div>
            <div id="album" class="album">

            </div>
        </section>
    </div>
</section>