<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/welcome-nav.css">
</head>
<body>

<%- include('../partials/welcome-nav.ejs') %>  

<section id="hero" class="hero">
    <section id="home" class="home">
        <div class="container">
            <div class="hero-col">
                <h1>Enjoy<br>your<br>favourite<br>music.</h1>
            </div>
            <div class="hero-btn-small">
                <a href="/register" class="new-acc-btn">Make an account</a>
            </div>
        </div>
    </section>
</section>

<%- include('../partials/footer.ejs') %>