<%- include('../partials/header.ejs') %>

<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/welcome-nav.css">
</head>
<body>

<%- include('../partials/welcome-nav.ejs') %>

<section class="login">
    <div class="container">
        <div class="logo">
            <h1>cAtchy</h1>
        </div>
        <div class="field">
            <div class="left-col">
                <form action='/login' method='POST'>
                    <h2>SIGN IN </h2>
                    <h3>User: superadmin | Pass: 123456<br>If you want to access admin account</h3>
                    <h3>Username or email</h3>
                    <input type='text' name='username' placeholder='Username or email' required>
                    <h3>Password</h3>
                    <input type='password' name='password' placeholder='Password' required>
                    <button class="login-btn" type='submit'>LOGIN</button>
                </form>
            </div>
            <div class="right-col">
                <h3>Don't have an account?</h3>
                <a href="/register" class="register-btn">CREATE ONE NOW!</a>
            </div>
        </div>
    </div>
</section>

<%- include('../partials/footer.ejs') %>