<section class="edit">
    <div class="container">
        <form action='/artist/<%= artist._id %>?_method=PUT' method='POST' enctype="multipart/form-data">
            <div>
                <label>Artist name</label>
                <input type='text' name='artist[artistName]' placeholder='<%= artist.artistName %>' value='<%= artist.artistName %>' required>
            </div>
            <div>
                <p>Image</p>
                <img src='<%= artist.artistImg %>'>
                <input type='file' name='artistImg' accept="image/*">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</section>