@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    --background-color-dark: rgb(22, 22, 22);
    --background-color-grey: rgb(41, 41, 41);
    --text-hover: rgb(156, 156, 156);
}

body {
    background-color: rgb(22, 22, 22);
    margin: 0;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

.link:hover {
    color: var(--text-hover);
    cursor: pointer;
}

.play-btn, .add-btn, .fav-btn {
    filter: invert(1);
    width: 25px;
    height: 25px;
}

.play-btn-big, .add-btn-big, .fav-btn-big, .edit-btn-big, .download-btn-big {
    filter: invert(1);
    width: 50px;
    height: 50px;
}

.fav-btn-pink {
    width: 25px;
    height: 25px; 
}

.fav-btn-pink-big {
    width: 50px;
    height: 50px;
}

.delete-btn-big {
    width: 50px;
    height: 50px;
}

.play-btn:hover, .add-btn:hover, .fav-btn:hover, .play-btn-big:hover, .add-btn-big:hover, .fav-btn-big:hover, .edit-btn-big:hover, .download-btn-big:hover {
    filter: invert(50%);
    cursor: pointer;
}

.fav-btn-pink:hover, .fav-btn-pink-big:hover, .delete-btn-big:hover {
    filter: invert(50%);
    cursor: pointer;
}

section.home {
    padding: 2em 2em;
    color: white;
}

.home .container > h1 {
    text-align: right;
    font-size: 3rem;
    margin: 0.5rem 0 2rem 0;
}

.home .container > p {
    font-size: 2.5rem;
}

.home .collection  {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.5rem;
    gap: 1rem;
    margin-bottom: 5rem;
}

.home .collection .content {
    display: flex;
    flex-direction: column;
    background: var(--background-color-grey);
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.home .collection .content .song-info {
    display: flex;
    align-items: center;
}

.home .collection .content .song-info img {
    width: 60px;
    height: 60px;
    border-radius: 0.5rem;
}

.home .collection .content .song-artist {
    margin-left: 10px;
    overflow-x: auto;
}

.home .collection .content .song-artist p:nth-child(1)  {
    margin: 0;
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    font-size: 1.5rem;
}

.home .collection .content .song-artist p:nth-child(2)  {
    margin: 0;
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.home .collection .content ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.home .collection .content ul li * {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 650px) {
    .home .collection {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .home .collection .content {
        width: 250px;
        /* max-width: 275px;
        min-width: 225px; */
        /* white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
        /* width:max-content; */
    }

    .home .collection .content .song-info {
        flex-direction: column;
        overflow-x: hidden;
        /* text-overflow: ellipsis won't work if there is align-items? */
        align-items: unset;
        /* width: 250px; */
    }

    .home .collection .content .song-info img {
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 150px;
        padding: 1.5rem;
    }

    .home .collection .content .song-artist {
        overflow-x: hidden;
    }

    .home .collection .content .song-artist p:nth-child(1)  {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    
    .home .collection .content .song-artist p:nth-child(2)  {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}

@media (hover: none) {
    .link:hover {
        color: white;
    }

    .play-btn:hover, .add-btn:hover, .fav-btn:hover, .play-btn-big:hover, .add-btn-big:hover, .fav-btn-big:hover, .edit-btn-big:hover, .download-btn-big:hover {
        filter: invert(1);
    }
    
    .fav-btn-pink:hover, .fav-btn-pink-big:hover, .delete-btn-big:hover {
        filter: unset;
    }
}