@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}

body {
    background-color: rgb(22, 22, 22);
    margin: 0;
    padding-bottom: 100px;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

section.home {
    padding: 2em 2em;
    color: white;
}

.home .container > a {
    color: white;
    background: var(--primary-color);
    border-radius: 1em;
    padding: .6em 1.3em;
    margin-top: 1em;
    display: inline-block
}

.collection {
    display: flex;
    flex-flow: row wrap;
    gap: .5em;
    margin-top: 2em;
    justify-content: left;  
    position: relative;
}

.collection::before {
    content: "";
    background: var(--primary-color);
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    margin-bottom: 1em;
    z-index: 1;
    border-radius: 12px;
}

.collection .content {
    background-color: rgb(41, 41, 40);
    width: 200px;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    position: relative; 
    z-index: 2;
}

.collection .content img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.collection .content h2 {
    text-align: left;
}

.collection .content h3 {
    text-align: left;
}

.playlist-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: black;
    width: 350px;
    max-width: 80%;
}

.playlist-panel.active {
    transform: translate(-50%, -50%) scale(1);
}

.playlist-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.playlist-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.playlist-header .close-playlist-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.playlist-list > * {
    display: flex;
    color: white;
}

.playlist-list img {
    width: 50px;
    height: 50px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 3;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}