@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
}

body {
    background-color: rgb(22, 22, 22);
    margin: 0;
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

section.home {
    padding: 2em 2em;
    color: white;
}

.home .container > a {
    color: white;
    background: var(--primary-color);
    border-radius: 1em;
    padding: .6em 1.3em;
    margin-top: 1em;
    display: inline-block
}

.collection {
    display: flex;
    flex-flow: row wrap;
    gap: .5em;
    margin-top: 2em;
    justify-content: left;  
    position: relative;
}

.collection::before {
    content: "";
    background: var(--primary-color);
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    margin-bottom: 1em;
    z-index: 1;
    border-radius: 12px;
}

.collection .content {
    background-color: rgb(41, 41, 40);
    width: 200px;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    position: relative; 
    z-index: 2;
}

.collection .content img {
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

.collection .content h2 {
    text-align: left;
}

.collection .content h3 {
    text-align: left;
}