@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
    --background-color-dark: rgb(22, 22, 22);
    --background-color-grey: rgb(41, 41, 41);
    --text-hover: rgb(156, 156, 156);
}

body {
    background-color: rgb(22, 22, 22);
    margin: 0;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

.main {
    box-sizing: border-box;
    padding-bottom: 85px;
}

@media only screen and (min-width: 650px) {
    .main {
        box-sizing: border-box;
        padding-left: 250px;
    }
}

.link:hover {
    color: var(--text-hover);
    cursor: pointer;
}

.play-btn, .add-btn, .fav-btn {
    width: 25px;
    height: 25px;
}

.play-btn-big, .add-btn-big, .fav-btn-big, .edit-btn-big, .download-btn-big {
    width: 50px;
    height: 50px;
}

.fav-btn-pink {
    width: 25px;
    height: 25px; 
}

.fav-btn-pink-big {
    width: 50px;
    height: 50px;
}

.delete-btn-big {
    width: 50px;
    height: 50px;
}

.play-btn:hover, .add-btn:hover, .fav-btn:hover, .play-btn-big:hover, .add-btn-big:hover, .fav-btn-big:hover, .edit-btn-big:hover, .download-btn-big:hover {
    filter: invert(50%);
    cursor: pointer;
}

.fav-btn-pink:hover, .fav-btn-pink-big:hover, .delete-btn-big:hover {
    filter: invert(50%);
    cursor: pointer;
}

.playlist-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: black;
    width: 350px;
    max-width: 80%;
}

.playlist-panel.active {
    transform: translate(-50%, -50%) scale(1);
}

.playlist-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.playlist-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.playlist-header .close-playlist-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.playlist-list > * {
    display: flex;
    color: white;
    align-items: center;
}

.playlist-list > * > p {
    padding-left: 1rem;
    font-size: 1.5rem;
    overflow-x: hidden;
}

.playlist-list > *:hover {
    background-color: var(--background-color-grey);
}

.playlist-list img {
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 9;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

@media (hover: none) {
    .link:hover {
        color: white;
    }

    .play-btn:hover, .add-btn:hover, .fav-btn:hover, .play-btn-big:hover, .add-btn-big:hover, .fav-btn-big:hover, .edit-btn-big:hover, .download-btn-big:hover {
        filter: unset;
    }
    
    .fav-btn-pink:hover, .fav-btn-pink-big:hover, .delete-btn-big:hover {
        filter: unset;
    }
}