section.player {
    background-color: rgb(35, 35, 35);
    width: 100%;
    position: fixed;
    z-index: 3;
    color: white;
    height: 80px;
    bottom: 0;
}

.player .container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.player .middle .play-btn:hover,
.player .middle .pause-btn:hover,
.player .middle .next-btn:hover {
    filter: invert(50%);
}

.player .container > * {
    width: 100%;
}

.player .left {
    display: flex;
    padding-left: 20px;
    align-items: center;
    overflow-x: auto;
}

.player .left .song-img {
    display: none;
    border-radius: 10px;
}

.player .left .song-info {
    min-width: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.player .left .song-name {
    margin: 0;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player .left .artist-name {
    margin: 0;
    margin-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.player .middle {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.player .upper-middle {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    gap: 1rem;
    height: 100%;
}

.player .middle .prev-btn {
    filter: invert(1);
    width: 15px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.player .middle .play-btn {
    filter: invert(1);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.player .middle .pause-btn {
    filter: invert(1);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.player .middle .next-btn {
    filter: invert(1);
    width: 15px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    height: 3px;
    border: 1px solid black;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}

.player .lower-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.player .lower-middle input {
    width: 100%;
}

.player .right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .right .sound-icon {
    filter: invert(1);
    width: 25px;
    height: 20px;
}

.player .right input {
    width: 50%;
    max-width: 50%;
}

@media only screen and (min-width: 700px) {
    .player .left .song-img {
        display: block;
        width: 70px;
        height: 70px;
    }

    .player .left .song-name {
        overflow-x: hidden;
    }

    .player .left .artist-name {
        overflow-x: hidden;
    }
}

@media (hover: none) {
    .player .middle .play-btn:hover,
    .player .middle .pause-btn:hover,
    .player .middle .next-btn:hover {
        filter: invert(1);
    }  
}