.profile-edit-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    background-color: black;
    border-radius: 10px;
    z-index: 10;
    width: 350px;
    max-width: 80%;
    padding: 1rem;
}

.profile-edit-panel.active {
    transform: translate(-50%, -50%) scale(1);
}

.profile-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.profile-header .close-profile-btn {
    cursor: pointer;
    border: none;
    outline: none;
    background: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.profile-edit-field input[type="text"] {
    margin-bottom: 1rem;
}

.profile-edit-field img {
    width: 100%;
}