section.album {
    padding: 2em 2em;
    color: white;
}

.album .collection  {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 0.5rem;
    gap: 1rem;
    margin-bottom: 5rem;
}

.album .collection .content {
    display: flex;
    flex-direction: column;
    background: var(--background-color-grey);
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.album .collection .content .song-info {
    display: flex;
    align-items: center;
}

.album .collection .content .song-info img {
    width: 60px;
    height: 60px;
    border-radius: 0.5rem;
}

.album .collection .content .song-artist {
    margin-left: 10px;
    overflow-x: auto;
}

.album .collection .content .song-artist p:nth-child(1)  {
    margin: 0;
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    font-size: 1.5rem;
}

.album .collection .content .song-artist p:nth-child(2)  {
    margin: 0;
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.album .collection .content ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.album .collection .content ul li * {
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (min-width: 650px) {
    
    .album .collection .content .song-artist {
        overflow-x: hidden;
    }

    .album .collection .content .song-artist p:nth-child(1)  {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
    
    .album .collection .content .song-artist p:nth-child(2)  {
        overflow-x: hidden;
        text-overflow: ellipsis;
    }
}