.all-playlist .container > p {
    font-size: 2.5rem;
}

.all-playlist .new-playlist {
    background-color: var(--background-color-grey);
    padding: 1rem;
    border-radius: 0.5rem;
    overflow-x: hidden;
}

.all-playlist .new-playlist * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.all-playlist .new-playlist input {
    width: 100%;
    max-width: 500px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.all-playlist .new-playlist button {
    margin-top: 1rem;
    width: 100px;
}
